.depoimento {
  width: 300px;
  height: 300px;
}

.flexvideos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flexvideos h1 {
  color: #40e0d0;
}

.flexvideos h3 {
  color: hotpink;
}
